
<body>
    <section class = "title">
        <div class="title">
            Register Form
        </div>
    </section>
    <section class = "fullname">
        <div class ="firstname">
            <label for="firstname">First Name:</label>
            <input type="text">
        </div>
        <div class ="lastname">
            <label for="lastname">Last Name:</label>
            <input type="text">
        </div>
    </section>
    <section class ="personal-detail">
        <div class ="birthday">
            
            <label for="timestamp">Select Date and Time:</label>
            <input type="datetime-local" id="timestamp" name="timestamp">
        </div>
        <div class ="gender">
            <label for="gender">Gender:</label>
            <div class="btn-group">
                <button type="button">Male</button>
                <button type="button">Female</button>
            </div>
        </div>
    </section>
    <section class ="contact">
        <div class ="email">
            <label for="email">Email:</label>
            <input type="text">
        </div>
        <div class ="phonenumber">
            <label for="phonenumber">Phonenumber:</label>
            <input type="text">
        </div>
    </section>
    <section class="subject">
        <label for="subject">Subject:</label>
        <input type="text">
        
    </section>
</body>